@import 'abstract/variables',
        'abstract/mixins';

@import 'base/reset',
        'base/base',
        'base/commons';

@import 'pages/home';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
        box-sizing: border-box;
}

.main-header{
        width: 100%;
        height: 100vh;
        background-image: url("image/header.png");
        background-size: cover;
        background-position: center center;

        &-navbar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                margin: 0 auto;
                padding-top: 30px;
                font-family: 'Nunito', sans-serif;

                &-burger{
                        display: none;
                        @include lg{
                                display: block;
                        }
                }

                &-burger > img{
                        width: 32px;
                }

                &-shortcut{
                        width: 50%;
                        display: block;
                        @include lg{
                                display: none;
                        }

                        &-list{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;


                                &-element > a{
                                        font-size: 20px;
                                        text-decoration: none;
                                        color: white;
                                        height: 100%;
                                        transition: all .1s;

                                        &:hover{
                                                background-color: #93A5FF;
                                                border-radius: 3px;
                                                padding: 70px 20px 10px 20px;
                                        }
                                }

                                &-login > a{
                                        display: flex;
                                        align-items: center;
                                        width: 125px;
                                        height: 55px;
                                        justify-content: space-evenly;
                                        text-decoration: none;
                                        color: #93A5FF;
                                        font-size: 20px;
                                        background-color: white;
                                        border-radius: 5px;
                                }
                        }
                }
        }
}
