@import 'abstract/variables',
        'abstract/mixins';

@import 'base/reset',
        'base/base',
        'base/commons';

@import 'pages/home';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
        box-sizing: border-box;
}

.main-header{
        width: 100%;
        height: 100vh;
        background-image: url("image/header.png");
        background-size: cover;
        background-position: center center;
        @include sm-rotated{
                height: 165vh;
        }

        &-navbar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                margin: 0 auto;
                padding-top: 30px;
                font-family: 'Nunito', sans-serif;

                &-burger{
                        display: none;
                        @include lg{
                                display: block;
                        }
                }

                &-burger > img{
                        width: 32px;
                }

                &-shortcut{
                        width: 50%;
                        display: block;
                        @include lg{
                                display: none;
                        }

                        &-list{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;


                                &-element > a{
                                        font-size: 20px;
                                        text-decoration: none;
                                        color: white;
                                        height: 100%;
                                        transition: all .1s;

                                        &:hover{
                                                background-color: #93A5FF;
                                                border-radius: 3px;
                                                padding: 70px 20px 10px 20px;
                                        }
                                }

                                &-login > a{
                                        display: flex;
                                        align-items: center;
                                        width: 125px;
                                        height: 55px;
                                        justify-content: space-evenly;
                                        text-decoration: none;
                                        color: #93A5FF;
                                        font-size: 20px;
                                        background-color: white;
                                        border-radius: 5px;
                                }
                        }
                }
        }
}

.title{
        display: flex;
        align-items: center;
        width: 100%;

        &-text{
                width: 50%;
                margin-left: 140px;
                margin-top: 200px;
                @include xxl{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-left: 0;
                }
                > h1{
                        font-size: 49px;
                        font-family: 'Roboto', sans-serif;
                        color: white;
                        font-weight: 700;
                        @include sm{
                                text-align: center;
                        }
                }

                > p{
                        font-size: 28px;
                        font-family: Nunito;
                        color: white;
                        opacity: 0.8;
                        margin-top: 15px;
                        margin-bottom: 44px;
                        @include sm{
                                text-align: center;
                        }
                }

                > div{
                        display: flex;
                        align-items: center;
                        @include sm{
                                flex-direction: column;
                        }
                        > input{
                                background-color: #384170;
                                width: 350px;
                                height: 55px;
                                padding-left: 10px;
                                border: none;
                                border-radius: 5px;

                                &::placeholder{
                                        font-family: Nunito;
                                        font-size: 20px;
                                        color: white;
                                }

                                &:focus{
                                        outline: none;
                                }
                        }
                        > div{
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                background-color: #384170;
                                width: 100px;
                                height: 55px;
                                padding-left: 10px;
                                border: none;
                                border-radius: 5px;
                                font-family: Nunito;
                                font-size: 20px;
                                color: white;
                        }

                        > a{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-left: 40px;
                                text-decoration: none;
                                width: 220px;
                                height: 55px;
                                font-size: 18px;
                                font-family: Nunito;
                                font-weight: 600;
                                color: white;
                                background-color: #93A5FF;
                                border-radius: 5px;
                                @include sm{
                                        margin-left: 0;
                                        margin-top: 10px;
                                }
                        }
                }
        }

        &-img{
                padding-top: 100px;
                display: block;
                @include xxl{
                        display: none;
                }
        }
}

.row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;

        &-title{
                font-family: Nunito;

                > h3{
                        font-size: 35px;
                        font-weight: 900;
                        text-align: center;
                }

                > p {
                        font-size: 28px;
                        opacity: 0.8;
                        margin: 10px 0 79px 0;
                        text-align: center;
                }
        }

        &-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                padding-bottom: 60px;
                @include xl{
                        flex-direction: column;
                }

                &-left{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @include xl{
                                margin-bottom: 50px;
                        }

                        &-element{
                                display: flex;
                                max-width: 630px;
                                margin-bottom: 60px;
                                @include sm{
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                }

                                > img{
                                        height: 70px;
                                        width: 70px;
                                        margin-right: 30px;
                                }

                                &-info{
                                        font-family: Nunito;
                                        font-size: 23px;
                                        max-width: 500px;

                                        > h4{
                                                font-weight: bold;
                                                margin-bottom: 24px;
                                                @include sm{
                                                        text-align: center;
                                                }
                                        }

                                        >p {
                                                opacity: 0.79;
                                                @include sm{
                                                        text-align: center;
                                                }
                                        }
                                }
                        }
                }
                &-right{
                        position: relative;

                        &-illustration{
                                @include sm{
                                        width: 375px;
                                }
                        }

                        &-dot-1{
                                position: absolute;
                                bottom: -60px;
                                left: -60px;
                                @include lg{
                                        display: none;
                                }

                        }

                        &-dot-2{
                                position: absolute;
                                top: -60px;
                                right: -60px;
                                rotate: 90deg;
                                @include lg{
                                        display: none;
                                }
                        }
                }
        }
}
