/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  height: 100vh;
  background-image: url("image/header.png");
  background-size: cover;
  background-position: center center;
}
@media (max-width: 850px) and (max-height: 400px) {
  .main-header {
    height: 165vh;
  }
}
.main-header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "Nunito", sans-serif;
}
.main-header-navbar-burger {
  display: none;
}
@media (max-width: 1350px) {
  .main-header-navbar-burger {
    display: block;
  }
}
.main-header-navbar-burger > img {
  width: 32px;
}
.main-header-navbar-shortcut {
  width: 50%;
  display: block;
}
@media (max-width: 1350px) {
  .main-header-navbar-shortcut {
    display: none;
  }
}
.main-header-navbar-shortcut-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header-navbar-shortcut-list-element > a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  height: 100%;
  transition: all 0.1s;
}
.main-header-navbar-shortcut-list-element > a:hover {
  background-color: #93A5FF;
  border-radius: 3px;
  padding: 70px 20px 10px 20px;
}
.main-header-navbar-shortcut-list-login > a {
  display: flex;
  align-items: center;
  width: 125px;
  height: 55px;
  justify-content: space-evenly;
  text-decoration: none;
  color: #93A5FF;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
}
.title-text {
  width: 50%;
  margin-left: 140px;
  margin-top: 200px;
}
@media (max-width: 1750px) {
  .title-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}
.title-text > h1 {
  font-size: 49px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
}
@media (max-width: 767px) {
  .title-text > h1 {
    text-align: center;
  }
}
.title-text > p {
  font-size: 28px;
  font-family: Nunito;
  color: white;
  opacity: 0.8;
  margin-top: 15px;
  margin-bottom: 44px;
}
@media (max-width: 767px) {
  .title-text > p {
    text-align: center;
  }
}
.title-text > div {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .title-text > div {
    flex-direction: column;
  }
}
.title-text > div > input {
  background-color: #384170;
  width: 350px;
  height: 55px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}
.title-text > div > input::placeholder {
  font-family: Nunito;
  font-size: 20px;
  color: white;
}
.title-text > div > input:focus {
  outline: none;
}
.title-text > div > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #384170;
  width: 100px;
  height: 55px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-family: Nunito;
  font-size: 20px;
  color: white;
}
.title-text > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  text-decoration: none;
  width: 220px;
  height: 55px;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 600;
  color: white;
  background-color: #93A5FF;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .title-text > div > a {
    margin-left: 0;
    margin-top: 10px;
  }
}
.title-img {
  padding-top: 100px;
  display: block;
}
@media (max-width: 1750px) {
  .title-img {
    display: none;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.row-title {
  font-family: Nunito;
}
.row-title > h3 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}
.row-title > p {
  font-size: 28px;
  opacity: 0.8;
  margin: 10px 0 79px 0;
  text-align: center;
}
.row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 90px;
}
@media (max-width: 1536px) {
  .row-content {
    flex-direction: column;
  }
}
.row-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1536px) {
  .row-content-left {
    margin-bottom: 50px;
  }
}
.row-content-left-element {
  display: flex;
  max-width: 630px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .row-content-left-element {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.row-content-left-element > img {
  height: 70px;
  width: 70px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .row-content-left-element > img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.row-content-left-element-info {
  font-family: Nunito;
  font-size: 23px;
  max-width: 500px;
}
.row-content-left-element-info > h4 {
  font-weight: bold;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .row-content-left-element-info > h4 {
    text-align: center;
  }
}
.row-content-left-element-info > p {
  opacity: 0.79;
}
@media (max-width: 767px) {
  .row-content-left-element-info > p {
    text-align: center;
  }
}
.row-content-right {
  position: relative;
}
@media (max-width: 767px) {
  .row-content-right-illustration {
    width: 375px;
  }
}
.row-content-right-dot-1 {
  position: absolute;
  bottom: -60px;
  left: -60px;
}
@media (max-width: 1350px) {
  .row-content-right-dot-1 {
    display: none;
  }
}
.row-content-right-dot-2 {
  position: absolute;
  top: -60px;
  right: -60px;
  rotate: 90deg;
}
@media (max-width: 1350px) {
  .row-content-right-dot-2 {
    display: none;
  }
}
.row-card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1536px) {
  .row-card {
    flex-direction: column;
  }
}
.row-card-single {
  width: 40%;
  background-color: #93A5FF;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 50px;
  color: white;
  position: relative;
  font-family: Nunito;
}
@media (max-width: 1536px) {
  .row-card-single {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .row-card-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.row-card-single-img {
  width: 77px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424D83;
  border-radius: 10px;
  margin-bottom: 43px;
}
.row-card-single > h3 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 23px;
}
.row-card-single > p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.row-card-single-button {
  display: flex;
  justify-content: flex-end;
}
.row-card-single-button > a {
  text-decoration: none;
  color: #93A5FF;
}
.row-card-single-button > a > div {
  display: flex;
  width: 180px;
  height: 54px;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-family: Nunito;
  font-weight: bold;
}
.row-choice {
  display: flex;
  width: 90%;
  margin: 0 auto 50px auto;
  justify-content: space-between;
}
@media (max-width: 1750px) {
  .row-choice {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.row-choice-single {
  width: 358px;
  height: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 10px #d5d5d5;
  border-radius: 5px;
  transition: all 0.3s;
}
@media (max-width: 1750px) {
  .row-choice-single {
    margin-top: 15px;
  }
}
.row-choice-single-img {
  position: relative;
  width: 66px;
  height: 66px;
  margin: 50px 0;
}
.row-choice-single-img-rectangle {
  width: 66px;
  height: 66px;
  background-color: #93A5FF;
  opacity: 0.15;
}
.row-choice-single-img > img {
  opacity: 1;
  position: absolute;
  top: 30px;
  left: -25px;
  z-index: 1;
}
.row-choice-single > h3 {
  font-family: Nunito;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 24px;
}
.row-choice-single-text-1 {
  font-size: 20px;
  padding: 0 37px 47px 37px;
  text-align: center;
  border-bottom: 1px solid #EBEBEB;
}
.row-choice-single-text-2 {
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 5px;
  text-align: center;
}
.row-choice-single-text-3 {
  font-size: 18px;
}
.row-choice-single-text-4 {
  font-size: 40px;
}
.row-choice-single > a {
  text-decoration: none;
  color: #93A5FF;
  background-color: #F7F8FF;
  margin-top: 70px;
}
.row-choice-single > a > div {
  display: flex;
  width: 180px;
  height: 54px;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-family: Nunito;
  font-weight: bold;
}
.row-opinion {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-bottom: 98px;
}
.row-opinion > div:first-child {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 1350px) {
  .row-opinion > div:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.row-opinion-single {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 685px;
}
@media (max-width: 1350px) {
  .row-opinion-single {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
}
.row-opinion-single > img {
  margin-right: 30px;
}
.row-opinion-single-comment {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1350px) {
  .row-opinion-single-comment {
    align-items: center;
  }
}
.row-opinion-single-comment > img {
  width: 136px;
  height: 19px;
  margin-bottom: 25px;
}
.row-opinion-single-comment > q {
  font-size: 23px;
  font-style: italic;
  color: #2E2E2E;
  line-height: 1.5;
  word-spacing: 1px;
  margin-bottom: 12px;
}
.row-opinion-single-comment > p {
  font-size: 20px;
  font-weight: bold;
}
.row-opinion-slider {
  margin-top: 67px;
  display: flex;
  align-items: center;
}
.row-opinion-slider-dot {
  width: 13px;
  height: 13px;
  margin-right: 22px;
  border-radius: 50%;
  background-color: #93A5FF;
  opacity: 0.38;
}
.row-dot-1 {
  position: absolute;
  top: -40px;
  right: 0;
}
@media (max-width: 1350px) {
  .row-dot-1 {
    display: none;
  }
}
.row-dot-2 {
  position: absolute;
  bottom: -40px;
  left: 0;
}
@media (max-width: 1350px) {
  .row-dot-2 {
    display: none;
  }
}
.row-client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 0 68px;
}
.row-client > img {
  margin: 74px 35px;
}
.row-button {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
  background-color: #93A5FF;
  border-radius: 5px;
  margin-bottom: 116px;
}

.footer {
  width: 100%;
  height: 687px;
  background-image: url("image/footer_bg.png");
  background-size: cover;
  background-position: center center;
}
.footer-first-row {
  display: flex;
  margin: 0 140px;
  justify-content: space-between;
  padding-top: 250px;
  color: white;
}
@media (max-width: 1350px) {
  .footer-first-row {
    flex-direction: column;
    padding-top: 150px;
    align-items: center;
  }
}
.footer-first-row > div {
  min-width: 175px;
}
.footer-first-row > div > h4 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 24px;
}
@media (max-width: 1350px) {
  .footer-first-row > div > h4 {
    text-align: center;
  }
}
.footer-first-row > div > p {
  font-size: 20px;
  margin-bottom: 11px;
  color: white;
  text-decoration: none;
}
@media (max-width: 1350px) {
  .footer-first-row > div > p {
    display: none;
  }
}
.footer-first-row-payement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 1350px) {
  .footer-first-row-payement {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer-first-row-payement {
    display: none;
  }
}
.footer-first-row-payement-method {
  display: flex;
  align-items: center;
}
.footer-first-row-payement-method > div {
  width: 87px;
  height: 40px;
  background-color: #2D355D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.footer-second-row {
  display: flex;
  width: 100%;
  padding: 0 140px;
  margin-top: 94px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1054px) {
  .footer-second-row {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .footer-second-row {
    padding: 0 50px;
  }
}
.footer-second-row-left > img {
  margin-bottom: 15px;
}
.footer-second-row-left > p {
  font-size: 20px;
  color: white;
}
@media (max-width: 1054px) {
  .footer-second-row-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-second-row-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
@media (max-width: 1054px) {
  .footer-second-row-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}
.footer-second-row-right > ul {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin-bottom: 24px;
}
.footer-second-row-right > div {
  display: flex;
  color: white;
  font-size: 20px;
}
.footer-second-row-right > div > p:first-child {
  border-right: 1px solid white;
}
.footer-second-row-right > div > p {
  padding: 0 20px;
  text-align: center;
}

.card-img-position {
  position: absolute;
  top: 20px;
  right: 25px;
}
@media (max-width: 767px) {
  .card-img-position {
    display: none;
  }
}

.bg-color-blue {
  background-color: #F7F8FF;
}

.bg-color-darkblue {
  background-color: #424D83;
}

.bg-color-lightblue {
  background-color: #93A5FF;
}

.selected-card {
  height: 641px;
  border-top: 11px solid #93A5FF;
}

.display-none {
  display: none;
}

.relative {
  position: relative;
}

.select {
  opacity: 1;
  width: 21px;
  height: 21px;
}

/*# sourceMappingURL=main.css.map */
