/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  height: 100vh;
  background-image: url("image/header.png");
  background-size: cover;
  background-position: center center;
}
@media (max-width: 850px) and (max-height: 400px) {
  .main-header {
    height: 165vh;
  }
}
.main-header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "Nunito", sans-serif;
}
.main-header-navbar-burger {
  display: none;
}
@media (max-width: 1350px) {
  .main-header-navbar-burger {
    display: block;
  }
}
.main-header-navbar-burger > img {
  width: 32px;
}
.main-header-navbar-shortcut {
  width: 50%;
  display: block;
}
@media (max-width: 1350px) {
  .main-header-navbar-shortcut {
    display: none;
  }
}
.main-header-navbar-shortcut-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header-navbar-shortcut-list-element > a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  height: 100%;
  transition: all 0.1s;
}
.main-header-navbar-shortcut-list-element > a:hover {
  background-color: #93A5FF;
  border-radius: 3px;
  padding: 70px 20px 10px 20px;
}
.main-header-navbar-shortcut-list-login > a {
  display: flex;
  align-items: center;
  width: 125px;
  height: 55px;
  justify-content: space-evenly;
  text-decoration: none;
  color: #93A5FF;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
}
.title-text {
  width: 50%;
  margin-left: 140px;
  margin-top: 200px;
}
@media (max-width: 1750px) {
  .title-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}
.title-text > h1 {
  font-size: 49px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
}
@media (max-width: 767px) {
  .title-text > h1 {
    text-align: center;
  }
}
.title-text > p {
  font-size: 28px;
  font-family: Nunito;
  color: white;
  opacity: 0.8;
  margin-top: 15px;
  margin-bottom: 44px;
}
@media (max-width: 767px) {
  .title-text > p {
    text-align: center;
  }
}
.title-text > div {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .title-text > div {
    flex-direction: column;
  }
}
.title-text > div > input {
  background-color: #384170;
  width: 350px;
  height: 55px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}
.title-text > div > input::placeholder {
  font-family: Nunito;
  font-size: 20px;
  color: white;
}
.title-text > div > input:focus {
  outline: none;
}
.title-text > div > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #384170;
  width: 100px;
  height: 55px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-family: Nunito;
  font-size: 20px;
  color: white;
}
.title-text > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  text-decoration: none;
  width: 220px;
  height: 55px;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 600;
  color: white;
  background-color: #93A5FF;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .title-text > div > a {
    margin-left: 0;
    margin-top: 10px;
  }
}
.title-img {
  padding-top: 100px;
  display: block;
}
@media (max-width: 1750px) {
  .title-img {
    display: none;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.row-title {
  font-family: Nunito;
}
.row-title > h3 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}
.row-title > p {
  font-size: 28px;
  opacity: 0.8;
  margin: 10px 0 79px 0;
  text-align: center;
}
.row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 60px;
}
@media (max-width: 1536px) {
  .row-content {
    flex-direction: column;
  }
}
.row-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1536px) {
  .row-content-left {
    margin-bottom: 50px;
  }
}
.row-content-left-element {
  display: flex;
  max-width: 630px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .row-content-left-element {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.row-content-left-element > img {
  height: 70px;
  width: 70px;
  margin-right: 30px;
}
.row-content-left-element-info {
  font-family: Nunito;
  font-size: 23px;
  max-width: 500px;
}
.row-content-left-element-info > h4 {
  font-weight: bold;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .row-content-left-element-info > h4 {
    text-align: center;
  }
}
.row-content-left-element-info > p {
  opacity: 0.79;
}
@media (max-width: 767px) {
  .row-content-left-element-info > p {
    text-align: center;
  }
}
.row-content-right {
  position: relative;
}
@media (max-width: 767px) {
  .row-content-right-illustration {
    width: 375px;
  }
}
.row-content-right-dot-1 {
  position: absolute;
  bottom: -60px;
  left: -60px;
}
@media (max-width: 1350px) {
  .row-content-right-dot-1 {
    display: none;
  }
}
.row-content-right-dot-2 {
  position: absolute;
  top: -60px;
  right: -60px;
  rotate: 90deg;
}
@media (max-width: 1350px) {
  .row-content-right-dot-2 {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
